
<div *ngIf="session" class="moderatorVid" full-height>
  <div fxLayoutAlign=" center" fxFill>
    <!-- <div class="spinner" fxLayout="row" *ngIf="video_spinner?.loadstart || video_spinner?.buffering || !checkSS" fxLayoutAlign="center center" style="min-height: 100%; height: 100%; position: absolute; width: 100%">
       <mat-spinner  [diameter]="30"></mat-spinner>
     </div>-->
    <video id="moderatorvideo" [ngClass]="dispSideNav === true ? 'videocol' : 'screenShare'" height="100%" width="100%"
           autoplay (loadstart)="onLoadStart($event)" [ngStyle]="{opacity: fullScreen === true ? 0 : 1 }"></video>
    <video id="screenShareVideo" class="videocol" height="100%" width="100%" autoplay *ngIf="checkSS"
           [ngStyle]="{opacity: fullScreen === true ? 0 : 1 }"></video>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="10%" *ngIf="dispSideNav">
      <app-call-sidenav
        id='sideNav'
        [ngStyle]="fullScreen === true? {background: '#252030'} : {background: 'rgba(0,0,0,0.4)'}"
        style="width: 18vw; height: calc(100vh);"
        [moduleName]="'proctor'"
        [ngClass]="['side-nav']" full-width
        [students]="students"
        [score]="scoreVal">
        <!--        (selectUser)="selectUser = $event">-->
      </app-call-sidenav>
      <div [ngClass]="['message-panel']" [hidden]="!messagePanel">
        <app-chat [param]="param" [messagePanel]="messagePanel" [role]="'teacher'" [students]="students" *ngIf="param"
                  (badgeCount)="msgCount = $event" (messagePanelOpen)="messagePanel = $event"
                  (messagePanelClose)="messagePanel = $event ; receivedMessageEvent($event);"></app-chat>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center end">
      <app-student-video
        id="video_streams"
        [ngStyle]="dispSideNav === true ? {left: '18vw', width:'82vw'} : {left: '0vw', width: '100vw'}"
        [moderatorObj]="moderatorObj"
        (moderatorMediaEmit)="getModeratorStream($event)"
        (screenShareMediaEmit)="getScreenShare($event)"
        [configMediaSettings]="configMediaSettings"
        [configurations]="configurations"
        (screenShareStat)="getStat($event)"
        (studentEmit)="students = $event"
        (resetConfigOptions)="configMediaSettings = $event"
        [module]="'proctor'"
        [action]="['invite', 'link']"
        [actionObj]="actionObj"
        (stopScreenShare)="shareScreen(param)"
        [room]="room"
        [Duration]="duration">
        <!--        [selectUser]="selectUser"-->
      </app-student-video>
    </div>

  </div>
  <ng-container *ngIf="session">
    <div class="float-timer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
         [matTooltip]="'Call duration'">
      <span title-white18-200>{{duration?.time}}</span>
      <button mat-icon-button title-white18-200 id="unfold" [matTooltip]="unfoldAction ? 'Expand' : 'Collapse'"
              (click)="unfoldAction = !unfoldAction; SidePanel()" [disabled]="!fullScreen">
        <mat-icon [inline]="true" style="font-size: 30px">{{unfoldAction ? 'unfold_less' : 'unfold_more'}}</mat-icon>
      </button>
    </div>
    <div class="float-panel" fxLayout="row" fxLayoutGap="30px">
      <ng-container *ngFor="let action of actions; index as i ">
        <button mat-icon-button
                [ngClass]="action.value === 'leave'? 'leave_button' : 'other_buttons'"
                [matTooltip]="action.status ? action.name : action.nameop || ''"
                (click)="action.status = !action.status; mainActions(action)"
                [disabled]="btnDisabled(action) === false">
          <mat-icon matBadgeColor="accent" matBadgeSize="small"
                    [style.color]="btnDisabled(action) === false ? 'grey' : '' "
                    [matTooltip]="action.value === 'screen' && action.status  ? action.nameop! : ''!"
                    [matBadgeHidden]="msgCount<=0 || messagePanel" [inline]="true"
                    matBadge="{{ action.name === 'Chat'? msgCount : ''}}">
            {{action.status ? action.icon : action.iconop}}
          </mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings">
        <mat-icon class="other_buttons">settings</mat-icon>
      </button>
      <button *ngIf="this.assigmentList.length > 0" [matMenuTriggerFor]="pAssig" mat-icon-button
              matTooltip="Publish assignment" style="line-height: 60px;">
        <mat-icon class="other_buttons">publish</mat-icon>
      </button>
      <mat-menu style="height: auto;" #pAssig="matMenu">
        <ng-container *ngFor="let assignment of assigmentList">
                    <button mat-menu-item (click)="publishAssignment($event)" id="{{assignment.fileId}}">
                      <mat-icon style="pointer-events: none;">assignment</mat-icon>
                      <span style="pointer-events: none;">{{assignment.title}}</span>
                    </button>
        </ng-container>
      </mat-menu>
    </div>
  </ng-container>
</div>
<mat-menu class="popup-upload" #menu="matMenu">
  <button mat-menu-item (click)="toggleView(true)" [disabled]="checkSS || actions[3].status">
    <mat-icon>grid_on</mat-icon>
    <span>Grid View</span>
  </button>
  <button mat-menu-item (click)="toggleView(false)" [disabled]="checkSS || actions[3].status">
    <mat-icon>fullscreen</mat-icon>
    <span>Fullscreen</span>
  </button>
  <button mat-menu-item (click)="muteAllParticipants($event)">
    <mat-icon>{{!muteAll.status ? muteAll.icon : muteAll.iconop}}</mat-icon>
    <span>{{!muteAll.status ? muteAll.name : muteAll.nameop}}</span>
  </button>
  <button mat-menu-item (click)="configMediaSettings = true">
    <mat-icon>build</mat-icon>
    <span>Configure</span>
  </button>
  <button mat-menu-item (click)="fileUpload.click()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Upload Assignment</span>
  </button>
  <input #fileUpload type="file" multiple
         accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
         style="display: none;" class="file-upload" (change)="uploadAssignment($event)">
</mat-menu>
<div fxLayout="row" full-height *ngIf="!session">
  <app-preview (startSession)="startSession($event)"></app-preview>
</div>
