:host {
  > .container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  ::ng-deep {
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
    }
    .mat-tab-label {
      //padding: 0;
      min-width: 80%;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}
/*
#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  //background-color: #ffffff;
  background-color: red;
}*/

#content {
  max-width: 90vw;
  width: 100%;
  background-color: #ffffff;
  //background-color: green;
  padding: 24px 0;
  box-sizing: border-box;
}

#content,
#main-content {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.mat-raised-button {
  #close {
    border-radius: 35px;
  }
}

/*::ng-deep .mat-form-field-wrapper {
  padding-top: 1.34375em;
}*/

