<div style="overflow: hidden;">
<mat-dialog-content class="mat-typography">
  <h2 style="text-align: center; margin-top: 4%">Are you sure you want to leave ? </h2>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="dialogRef.close(false)" style="background-color: #E71C31; color: #fff; margin-top: 18%;">No</button>
  <button mat-button (click)="dialogRef.close(true)" style="background-color: green; color: #fff; margin-top: 18%;">Yes</button>
</mat-dialog-actions>
</div>