 [cardMat] {
   background-image: radial-gradient(circle at 28% 29%, rgba(237, 237, 237, .04) 0, rgba(237, 237, 237, .04) 50%, rgba(136, 136, 136, .04) 50%, rgba(136, 136, 136, .04) 100%), radial-gradient(circle at 8% 78%, rgba(156, 156, 156, .04) 0, rgba(156, 156, 156, .04) 50%, rgba(37, 37, 37, .04) 50%, rgba(37, 37, 37, .04) 100%), radial-gradient(circle at 29% 46%, rgba(251, 251, 251, .04) 0, rgba(251, 251, 251, .04) 50%, rgba(198, 198, 198, .04) 50%, rgba(198, 198, 198, .04) 100%), linear-gradient(90deg, #fff, #fff);
 }

@mixin badgeStyle($p, $b, $br, $m) {
    padding: $p;
    background: $b;
    border-radius: $br;
    margin-left: $m;
    color: #FFFFFF;
    font-size: 12px;
}

 [stripeBadge] {
   @include badgeStyle(3px 5px, linear-gradient(135deg, #79236b, #1c5ba2), 6px, '' )
 }

 [creditBadge] {
   @include badgeStyle(2px 4px, #423f3f, 3px, 10px );
}
.mat-icon {
  font-size: 18px;
}