<div class="userVid" full-height>
  <div fxLayoutAlign=" center" fxFill>
 <!--   <div class="spinner" fxLayout="row" *ngIf="video_spinner?.loadstart || video_spinner?.buffering" fxLayoutAlign="center center" style="min-height: 100%; height: 100%; position: absolute; width: 100%">
      <mat-spinner  [diameter]="30"></mat-spinner>
    </div>-->
    <video id="userVideo" [ngClass]="dispSideNav === true ? 'videocol' : 'screenShare'" height="100%" width="100%" autoplay (loadstart)="onLoadStart($event)" [ngStyle]="{opacity: fullScreen === true ? 0 : 1 }"></video>
    <video id="screenShareVideo" class="videocol"  height="100%" width="100%" autoplay   *ngIf="checkSS" [ngStyle]="{opacity: fullScreen === true ? 0 : 1 }"></video>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="10%" *ngIf="dispSideNav">
  <!--    <app-call-sidenav
        id = 'sideNav'
        [ngClass]="dispSideNav === true ? 'side-nav' : 'side-nav screenShare'" full-width
        [ngStyle]="fullScreen === true? {background: '#252030'} : {background: 'rgba(0,0,0,0.4)'}"
        style="width: 18vw; height: calc(100vh);"
        [moduleName]="'student'"
        [students]="students"
        (selectUser)="selectUser = $event">
      </app-call-sidenav>-->
      <app-call-sidenav
        id = 'sideNav'
        [ngStyle]="fullScreen === true? {background: '#252030'} : {background: 'rgba(0,0,0,0.4)'}"
        style="width: 18vw; height: calc(100vh);"
        [moduleName]="'student'"
        [students]="students"
        (selectUser)="selectUser = $event">
      </app-call-sidenav>
    </div>
    <div fxLayout="column" fxLayoutAlign="center end">
      <app-video-panel *ngIf="loaded"
                       id = "video_streams"
                       [ngStyle]="dispSideNav === true ? {left: '18vw', width:'82vw'} : {left: '0vw', width: '100vw'}"
                       [configMediaSettings]="configMediaSettings"
                       [selectUser]="selectUser"
                       [actions]="actions"
                       [actionObj]="actionObj"
                       (screenShareStat)="getStat($event)"
                       (screenShareMediaEmit)="getScreenShare($event)"
                       (resetConfigOptions)="configMediaSettings = $event"
                       (userMediaEmit)="getUserStream($event)"
                       (audioStatus)="getAudioStatus($event)"
                       (studentEmit)="getStudents($event)"
                       (stopScreenShare)="shareScreen(param.roomid, actions[1])"
                       [room]="room"
                       [Duration]="duration"
                       [module]="'student'"
      ></app-video-panel>
    </div>
  </div>
  <div [ngClass]="['message-panel']" [hidden]="!messagePanel">
    <app-chat [param]="param"  [messagePanel]="messagePanel" [role]="'student'" [students]="students" (badgeCount)="msgCount = $event" *ngIf="param" (messagePanelOpen)="messagePanel = $event" (messagePanelClose)="messagePanel = $event ; receivedMessageEvent($event);"></app-chat>
  </div>
  <ng-container>
    <div fxLayout="row" class="float-timer" fxLayoutAlign="start center" fxLayoutGap="10px" [matTooltip]="'Call duration'">
      <span title-white18-200>{{duration?.time}}</span>
      <button mat-icon-button  title-white18-200 id="unfold" [matTooltip]="unfoldAction ? 'Expand' : 'Collapse' " (click)="unfoldAction = !unfoldAction; SidePanel()" [disabled]="!fullScreen">
        <mat-icon [inline]="true" style="font-size: 30px">{{unfoldAction ? 'unfold_less' : 'unfold_more'}}</mat-icon>
      </button>
    </div>
    <div class="float-panel" fxLayout="row" fxLayoutGap="30px">
      <ng-container  *ngFor="let action of actions">
<!--        <button mat-icon-button [ngClass]="action.value === 'leave'? 'leave_button' : 'other_buttons'" [matTooltip]="action.status ? action.name : action.nameop || ''"  (click)="action.status = !action.status; mainActions(action)">
          <mat-icon [ngClass]="'other_buttons'"  *ngIf="(action.value === 'hand' && action.status); else svgIcon" [svgIcon]="'opHand_down'"></mat-icon>
          <ng-template #svgIcon><mat-icon [inline]="true" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="msgCount<=0 || messagePanel" matBadge="{{ action.name === 'Chat'? msgCount : ''}}" >{{action.status ? action.icon : action.iconop}}</mat-icon></ng-template>
        </button>-->
        <button mat-icon-button
                [ngClass]="action.value === 'leave'? 'leave_button' : 'other_buttons'"
                [matTooltip]="action.status ? action.name : action.nameop || ''"
                (click)="action.status = !action.status; mainActions(action);"
                [disabled]="action.value === 'screen' && action.status === false ? true : false">
          <mat-icon [ngClass]="'other_buttons'" [inline]="true" [matTooltip]="action.value === 'screen' && action.status === false ? action.nameop! : ''!" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="msgCount<=0 || messagePanel" matBadge="{{ action.name === 'Chat'? msgCount : ''}}">{{action.status ? action.icon : action.iconop }}</mat-icon>
          <ng-template>
            <mat-icon [inline]="true" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="msgCount<=0 || messagePanel" matBadge="{{ action.name === 'Chat'? msgCount : ''}}">
              {{action.status ? action.icon : action.iconop}}
            </mat-icon>
          </ng-template>
        </button>
      </ng-container>
        <button  mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings" style="line-height: 60px;">
          <mat-icon class="other_buttons">settings</mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleView(false)" [disabled]="checkSS || !actions[3].status">
        <mat-icon>grid_on</mat-icon>
        <span>Grid View</span>
      </button>
      <button mat-menu-item (click)="toggleView(true)" [disabled]="checkSS || !actions[3].status">
        <mat-icon>fullscreen</mat-icon>
        <span>Fullscreen</span>
      </button>
      <button mat-menu-item  (click)="configMediaSettings = true">
        <mat-icon>build</mat-icon>
        <span>Configure</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
