.side-nav {
  //height: 100vh;
  height: calc(100vh - 43px);
  overflow-y: auto;
}
.message-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.message-panel {
  position: fixed;
  right: 10px;
  bottom: 0px;
  height: 500px;
  width: 300px;
  background: white;
  z-index: 20;
}

.leave_button {
  background: #E71C31;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  font-size: 35px;
  line-height: 55px;
}

.other_buttons {
  height: 50px;
  width: 50px;
  font-size: 40px;
  line-height: 55px;
}

.userVid {
  position: relative;
  overflow: hidden;
}

#sideNav {
  position: absolute;
  top: 0;
  left: 0;
}

#userVideo {
  //cursor: move;
  /*Mirror code starts*/
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  /*Mirror code ends*/
}

#video_streams {
  position: absolute;
  top: 0;
  /*left: 18vw;
  width: 82vw;*/
}

.screenShare {
 /* object-fit: cover;
  !*object-position: bottom;*!
  width: 256px;
  height: 182px;
  //margin: 10% 0 10% 2%;
  margin-left: 2%;
  !*min-width: 100%;
  min-height: 100%;*!
  video{
    background-color: #777777;
  }
 */
  display: none;
}

#screenShareVideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  //border: 1px solid red;
}

#unfold {
  transform: rotateZ(270deg);
  -webkit-transform:rotateZ(270deg); /* Safari and Chrome */
  -moz-transform:rotateZ(270deg); /* Firefox */
}

/*#myDiv{
  position: absolute;
}*/
