$shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

[planName] {
  font-size: 20px;
  background: lightgrey;
  padding: 5px 20px;
  border-radius: 20px;
}

[btnCard] {
  width: 120px;
  height: 40px;
  background: #33387A;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #FFFFFF;
}

[mayCards] {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

[acountIcon] {
  font-size: 90px;
  position: absolute;
  top: -5px;
  left: -3px;
  transform: scale(1.5);
  color: dimgrey;
}

[groupBtn] {
  margin-left: 6%;
}


[cardHight] {
  height: 80%;
}

[cardsBody] {
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10px;
  font-size: 16px;

}
[transaction] {
  overflow-y: auto;
  width: 99%;
  height: 100%;
}

[headerTransaction] {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  position: sticky;
  top: 0;
  span {
    height: 100%;
  }
}

[bodyTransaction] {
  width: 100%;
  font-size: 14px;
  min-height: 10%;
span {
  height: 100%;
}
input {
  height: 20px;
  width: 20px;
}
}

.container::-webkit-scrollbar { display: none;}

#cards::-webkit-scrollbar {
  width: 4px;
  height: 7px;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@mixin layout($m, $p) {
  width: 100%;
  justify-content: center;
  margin: $m;
  padding: $p;
}

.cardLength0 {
  @include layout(auto, 0 40%);
}

.cardLength1, .cardLength2{
  @include layout(0, 0 10%);
}

.cardLengthOther {
  @include layout(0, 0 1%);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}