<div fxFlex="97" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fullDiv>
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px" commonStyle>
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="space-around center" commonStyle
      style="background: #f6f7fb; border-radius: 10px; align-items: flex-start">
      <!-- "align-items" property aligns items to left hand side -->
      <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-around center" commonStyle>
        <span mayCards>My Cards</span>
        <h3 planName> Plan - {{userDetails?.plan?.name}}</h3>
      </div>
      <!--<div id= "cards"
           [fxFlex]="'60'"
           fxLayout="column"
           fxLayoutGap="10px"
           cardsBody
           appStyle
           [condition]="userDetails?.cards.length"
           [ngStyle]="getStyle(userDetails?.cards.length)"
           style="padding: 0; max-height: 55%; overflow: auto"> &lt;!&ndash; cards + add button &ndash;&gt;-->
      <div id="cards" [fxFlex]="'60'" fxLayout="column" fxLayoutGap="10px" cardsBody appStyle
        [condition]="userDetails?.cards.length" style="max-height: 55%; overflow: auto">
        <!-- cards + add button -->
        <ng-container *ngFor="let card of cardData">
          <!-- cards -->
          <app-cardDetails fxFlex="100" [cards]="card" cardHight (onDelete)="onDeleteImage(card)"
            style="margin: 0 2%; width: 15vw;"></app-cardDetails>
        </ng-container>
        <div fxFlex="48" cardHight fxLayoutAlign="center center" style="border: 1px dashed #33387a">
          <!-- add button -->
          <button mat-raised-button btnCard (click)="cardFormOpen()">Add Card</button>
        </div>
        <!-- <div fxFlex="48" cardHight fxLayoutAlign="center center" style="border: 1px dashed #33387a">
          <button mat-raised-button btnCard (click)="deleteFormOpen()">Delete Card</button>
        </div> -->
      </div>
    </div>

    <div fxFlex="58" fxLayout="column" commonStyle fxLayoutGap="10px" style="background: #f6f7fb; padding: 10px">
      <span fxFlex="10" fxLayoutAlign="start center"
        style="font-size: 20px; font-weight: 500; padding-left: 20px; font-family: circularMedium;">Last
        Transaction</span>
      <div fxFlex="85" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" headerTransaction>
          <span fxFlex="25" fxLayoutAlign="center center">Date</span>
          <span fxFlex="25" fxLayoutAlign="center center">Description</span>
          <span fxFlex="25" fxLayoutAlign="center center">Status</span>
          <span fxFlex="25" fxLayoutAlign="center center">Amount</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" transaction>
          <ng-container *ngFor="let t of userDetails?.paymentHistory">
            <div fxFlex="55px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" bodyTransaction>
              <span fxFlex="25" fxLayoutAlign="center center">{{dateConvert(t.createdAt) | date: 'mediumDate'}}</span>
              <span fxFlex="25" fxLayoutAlign="center center">Purchase {{t?.description | titlecase }} Plan</span>
              <span fxFlex="25" fxLayoutAlign="center center" fxLayout="column">
                <mat-icon style="color:#33387A;" *ngIf="t.status === 'succeeded'">check_circle</mat-icon>
                <span *ngIf="t.status !== 'succeeded'">Refound</span>
              </span>
              <span fxFlex="25" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px">
                <span fxLayoutAlign="center center">${{t?.amount / 100}}</span>
                <!-- <span fxLayoutAlign="center center">{{ t?.currency | uppercase }}</span> -->
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" commonStyle detailsDiv
    [class]="formField?.edit ? 'inputEnabled' : 'inputDisabled'" [formGroup]="personalDataForms">
    <div fxFlex="17" fxLayout="column" fxLayoutAlign="center start" commonStyle style="width: 100%; position: relative">
      <div imgDiv (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <mat-icon acountIcon *ngIf="!defaultIcon">account_circle</mat-icon>
        <img [src]="imageUrl" rel="noreferrer noopener" referrerpolicy="no-referrer" imgs *ngIf="imageUrl"
          [style.opacity]="mouseHover ? '0.3' : ''" />
        <input type="file" id="file" hidden (change)="imageUpload($event)" formControlName="image" accept="image/*" />
        <label for="file">
          <div addPhoto *ngIf="formField.edit && !mouseHover">
            <mat-icon style="width: 20px; height: 20px; font-size: 20px">add_a_photo
            </mat-icon>
          </div>
        </label>
        <div RemoveBtn [ngClass]="mouseHover ? 'removebtnHover' : 'removebtnhoverR'" fxLayout="column"
          (click)="removeAvatar()">
          <mat-icon>delete</mat-icon>
          Remove
        </div>
      </div>
    </div>
    <div fxFlex="83" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" commonStyle style="width: 100%">
      <ng-container *ngFor="let field of formField.fields; let i = index;">
        <!-- <div style="border: 2px solid aqua;">{{field.placeholder | json}}</div> -->
        <div [fxFlex]="field.type === 'select' ? 8 : 10" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"
          style="width: 100%">
          <div fxFlex="25" fxLayoutAlign="end center" commonStyle>
            <mat-label>{{ field.name + " :" | titlecase }} </mat-label>
          </div>
          <!-- <div style="background: aqua;">{{personalDataForms.controls.city.errors?.pattern | json}}</div> -->
          <div fxFlex="75" commonStyle fxLayoutAlign="center center">
            <div> <input [placeholder]="field.placeholder" [formControlName]="field.name" class="form-control"
                [type]="field.type" *ngIf="field.type !== 'radio' && field.type !== 'select'" [pattern]="field.regex"
                [required]="field.required" />
            </div>
            <!-- <input placeholder ="enter email" formControlName ="email" class="form-control" [disabled] ="true" type ="email" 
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' 
              && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'name'"/> -->
            <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="center center"
              style="width: 100%; color: #c8663c !important;">
  
              <mat-error class="help-block"
                *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.name.errors?.required && personalDataForms.controls.name.touched">
                Required
              </mat-error>
              <mat-error class="help-block"
                *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.name.errors?.pattern && personalDataForms.controls.name.touched">
                Name is Invalid
              </mat-error>
            </div>
            <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="center center"
              style="width: 100%; color: #c8663c !important;">
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'name' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.contact.errors?.required && personalDataForms.controls.contact.touched">
              Required
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'name' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.contact.errors?.pattern && personalDataForms.controls.contact.touched">
              Contact is Invalid
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'name' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.address.errors?.required && personalDataForms.controls.address.touched">
              Required
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'name' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.age.errors?.required && personalDataForms.controls.age.touched">
              Required
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'name' && field.name !== 'pinCode' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.age.errors?.pattern && personalDataForms.controls.age.touched">
              Age is Invalid
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'name' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.pinCode.errors?.required && personalDataForms.controls.pinCode.touched">
              Required
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'name' && field.name !== 'city' && field.name !== 'email' && personalDataForms.controls.pinCode.errors?.pattern && personalDataForms.controls.pinCode.touched">
              PinCode is Invalid
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'name' && field.name !== 'email' && personalDataForms.controls.city.errors?.required && personalDataForms.controls.city.touched">
              Required
            </mat-error>
            <mat-error class="help-block"
              *ngIf="field.type !== 'radio' && field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'name' && field.name !== 'email' && personalDataForms.controls.city.errors?.pattern && personalDataForms.controls.city.touched">
              City is Invalid
            </mat-error>
          </div>
          <mat-radio-group style="width: 80%" [formControlName]="field.name" fxLayoutGap="10px"
            *ngIf="field.type === 'radio'">
            <ng-container *ngFor="let c of field?.child">
              <mat-radio-button [value]="c">{{ c }}</mat-radio-button>
            </ng-container>
          </mat-radio-group>
          <div *ngIf="field.type === 'select'" fxLayoutAlign="center center" full-width>

            <mat-form-field *ngIf="field.name === 'country'">
              <mat-select [formControlName]="field.name">
                <ng-container *ngFor="let c of country">
                  <mat-option [value]="c.country_name" (click)="chooseState(c)">{{
                    c.country_name
                    }}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field.name === 'state'">
              <mat-select [formControlName]="field.name">
                <ng-container *ngFor="let s of stateChoose">
                  <mat-option [value]="s.state_name">{{
                    s.state_name
                    }}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="field.name === 'country'">
                <mat-select [formControlName]="field.name">
                  <mat-option *ngFor="let c of country[0]; let i = index;" [value]="c.country_name"
                    (click)="chooseState(c)">
                    {{c.country_name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="field.name === 'state'">
                <mat-select [formControlName]="field.name">
                  <mat-option *ngFor="let s of stateChoose" [value]="s.state_name">
                    {{ s.state_name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

            <!-- <span class="help-block" *ngIf="field.type !== 'select' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'name' && field.name !== 'email' && field.name !== 'city' && personalDataForms.controls.gender.errors?.required && personalDataForms.controls.gender.touched">
                Required
               </span>
               <span class="help-block" *ngIf="field.type !== 'radio' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'name' && field.name !== 'email' && field.name !== 'city' && personalDataForms.controls.country.errors?.required && personalDataForms.controls.country.touched">
                Required
               </span>
               <span class="help-block" *ngIf="field.type !== 'radio' && field.name !== 'contact' && field.name !== 'address' && field.name !== 'age' && field.name !== 'pinCode' && field.name !== 'name' && field.name !== 'email' && field.name !== 'city' &&  personalDataForms.controls.state.errors?.required && personalDataForms.controls.state.touched">
                Required
               </span> -->
          </div>
        </div>
    </div>
    </ng-container>
    <div fxFlex="10" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center" style="width: 95%">
      <button mat-raised-button class="cancelBtn" (click)="cancel()">
        {{ formField.edit ? "Cancel" : "" }}
      </button>
      <button mat-raised-button [class]="formField?.edit ? 'submitBtn' : 'editBtn'"
        (click)="personalDataFormDisabled()">
        {{ formField.edit ? "Update" : "Edit" }}
      </button>
    </div>
  </div>
</div>
</div>