<div fxFlex="97" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fullDiv>
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px" commonStyle>
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="space-around center" commonStyle
      style="background: #f6f7fb; border-radius: 10px; align-items: flex-start">
      <!-- "align-items" property aligns items to left hand side -->
      <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-around center" commonStyle>
        <span mayCards>My Cards</span>
        <h3 planName> Plan - {{userDetails?.plan?.name}}</h3>
      </div>
      <div id="cards" [fxFlex]="'60'" fxLayout="column" fxLayoutGap="10px" cardsBody appStyle
        [condition]="userDetails?.cards.length" style="max-height: 55%; overflow: auto">
        <!-- cards + add button -->
        <ng-container *ngFor="let card of cardData">
          <!-- cards -->
          <app-cardDetails fxFlex="100" [cards]="card" cardHight (onDelete)="onDeleteImage(card)"
            style="margin: 0 2%; width: 15vw;"></app-cardDetails>
        </ng-container>
        <div fxFlex="48" cardHight fxLayoutAlign="center center" style="border: 1px dashed #33387a">
          <!-- add button -->
          <button mat-raised-button btnCard (click)="cardFormOpen()">Add Card</button>
        </div>
      </div>
    </div>

    <div fxFlex="58" fxLayout="column" commonStyle fxLayoutGap="10px" style="background: #f6f7fb; padding: 10px">
      <span fxFlex="10" fxLayoutAlign="start center"
        style="font-size: 20px; font-weight: 500; padding-left: 20px; font-family: circularMedium;">Last
        Transaction</span>
      <div fxFlex="85" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" headerTransaction>
          <span fxFlex="25" fxLayoutAlign="center center">Date</span>
          <span fxFlex="25" fxLayoutAlign="center center">Description</span>
          <span fxFlex="25" fxLayoutAlign="center center">Status</span>
          <span fxFlex="25" fxLayoutAlign="center center">Amount</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" transaction>
          <ng-container *ngFor="let t of userDetails?.paymentHistory">
            <div fxFlex="55px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" bodyTransaction>
              <span fxFlex="25" fxLayoutAlign="center center">{{dateConvert(t.createdAt) | date: 'mediumDate'}}</span>
              <span fxFlex="25" fxLayoutAlign="center center">Purchase {{t?.description | titlecase }} Plan</span>
              <span fxFlex="25" fxLayoutAlign="center center" fxLayout="column">
                <mat-icon style="color:#33387A;" *ngIf="t.status === 'succeeded'">check_circle</mat-icon>
                <span *ngIf="t.status !== 'succeeded'">Refound</span>
              </span>
              <span fxFlex="25" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px">
                <span fxLayoutAlign="center center">${{t?.amount / 100}}</span>
                <!-- <span fxLayoutAlign="center center">{{ t?.currency | uppercase }}</span> -->
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <app-account-details  style="height: 100%; overflow-y: auto; overflow-x: hidden;"></app-account-details>
</div>