<div fxLayout="row" fxFlex="97" fxLayoutAlign="space-between center" Height style="margin: auto" class="profile">
  <div fxLayout="row" fxFlex="33" fxLayoutAlign="start center" fxLayoutGap="20px" Height>
    <button mat-raised-button btnStyle (click)="scheduleMeeting()" [disabled]="planType === 'expired'">Schedule in
      Calendar</button>
    <button mat-raised-button btnStyle (click)="hostMeeting()" [disabled]="planType === 'expired'">Meet Now</button>
  </div>
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-around center" fxLayoutGap="10px" Height>
<!-- <div style="border: 2px solid aqua">{{notifications | json}}</div> -->
    <!-- Notification through socket connection -->
    <span class="material-icons hide-text profile-topbar" pointer style="color: #33387A" matBadge={{notification}}
      matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="hideMatBadge" [matMenuTriggerFor]="notificationMenu"> notifications </span>
    <mat-menu #notificationMenu="matMenu">
      <div *ngIf="notification !== 0">
        <h3 class="msg">Notification
          <span style="float: right !important;"><button *ngIf="notification > 1" (click)="markAllAsRead($event)" style="border: none; background: transparent;">Mark all as
            read</button>
          </span>
        </h3>
        <hr>
        <div *ngFor="let notifications of notifications;" class="wrapNotification">
          <mat-icon style="font-size: 9px; color: red;">fiber_manual_record</mat-icon>
          {{notifications.message}}
          <span><button mat-icon-button (click)="markAsRead(notifications)">
            <mat-icon style="font-size: 15px;">visibility</mat-icon>
          </button></span>
        </div>
      </div>
      <div *ngIf="notification === 0" style="text-align: center; margin-top: 7%;">
        No Notifications
      </div>
    </mat-menu>

    <!-- <span class="material-icons hide-text profile-topbar" pointer style="color: #33387A" matBadge={{badge}}
      matBadgeColor="warn" matBadgeSize="small" [matMenuTriggerFor]="notificationMenu"> notifications </span>
    <mat-menu #notificationMenu="matMenu">
      <p style="text-align: center; margin-top: 10%;">{{msg}}</p>
      <div *ngIf="dispStdList">
        <h3 class="msg">Notification
          <span style="float: right !important;"><button mat-flat-button (click)="markAllRead($event)">Mark all as
              read</button>
          </span>
        </h3>
        <hr>
        <div *ngFor="let notifications of remainingHours;" class="wrapNotification">
          <mat-icon style="font-size: 9px; color: red;">fiber_manual_record</mat-icon>
          {{notifications.message}}
          <span><button mat-icon-button (click)="markRead($event)">
              <mat-icon style="font-size: 15px;">visibility</mat-icon>
            </button></span>
        </div>
      </div>
    </mat-menu> -->

    <span title-navy14-400 title="{{userDetails?.name | titlecase}}" style="font-size: 16px !important; font-weight: 500; white-space: nowrap;
    width:40%;
    overflow: hidden;
    text-overflow: ellipsis;">{{userDetails?.name | titlecase}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon style="font-size: 40px !important;" *ngIf="!userDetails?.avatar">account_circle</mat-icon>
      <img [src]="userDetails?.avatar" profileImg alt="not found" *ngIf="userDetails?.avatar">
    </button>
    <mat-menu #menu="matMenu">
      <div fxLayout="column" full-width fxLayoutGap="10px" full-height>
        <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center">
          <span title="{{userDetails?.email}}" style="color: #33387A; font-size: 16px; white-space: nowrap;
          width:50%;
          overflow: hidden;
          text-overflow: ellipsis;">{{userDetails?.email}}</span>
          <span style="color: #00A23E;font-size: 18px; padding-top: 2%;">{{plan}}</span>
        </div>
        <div fxFlex="30" fxLayoutAlign="center center" fxLayout="column">
          <hr style="width: 90%; opacity: 0.25">
          <span style="color: #33387A; font-size: 16px; font-weight: 500" pointer (click)="logout()">Sign Out</span>
        </div>
      </div>
    </mat-menu>
  </div>
</div>


<!-- title="{{userDetails?.name | titlecase}}" -->