div, span {
    font-size: 18px;
}
[emailBtn] {
    width: 170px;
    height: 50px;
    background: #33387A;
    border-radius: 20px;
    color: #FFFFFF;
  }
  
  [assignBtn] {
    width: 120px;
    height: 40px;
    background: #33387A;
    border-radius: 10px;
    color: white;
  }

  [widths] {
    width: 85%;
  }
  
  input {
      width: 90%;
    height: 30px;
    background: #FFFCFC;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
  }
  mat-error {
    font-size: 14px;
    padding: 0 10px;

  }
  [addMoreBtn] {
      background: transparent;
      box-shadow: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 20px;
      // padding: 5px 10px 5px 10px;
  }
  [msg] {
    font-size: 14px;
    position: relative;
    padding: 0 10px;
  }
  [closeMsg] {
    position: absolute;
    right: -20px;
    top: 0;
    border-radius: 20px;
    border: none;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    cursor: pointer;
  }
  [errorDiv] {
    place-self: start;
     max-width: 70%;
  }