<div fxLayout="column" fxLayoutAlign="center center" fxFill fxLayoutGap="22px" style="border-radius:  10px 0 0 10px;">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" ngClass="formClass" padding class="card"
    (ngSubmit)="signUp(form.value)" [formGroup]="form">
    <div fxLayout="column" fxFlex="20" fxLayoutGap="10px" style="width: 100%">
      <span fxFlex="25">Name</span>
      <span fxFlex="75">
        <input type="text" autofocus formControlName="name" placeholder="Enter Your Name" inputStyle>
      </span>

      <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="start center"
        style="width: 100%; color: #c8663c !important;">
        <mat-error *ngIf="form.controls['name']?.touched &&  form['controls']?.name.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('name').errors?.pattern">
          Name should be of minimum <b>3</b> alpha characters
        </mat-error>
      </div>
    </div>

    <div fxLayout="column" fxFlex="20" fxLayoutGap="10px" style="width: 100%">
      <span fxFlex="25">Email Id</span>
      <span fxFlex="75">
        <input type="email" formControlName="email" placeholder="Ex. abc@xyz.com" inputStyle>
      </span>
      <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="start center"
        style="width: 100%; color: #c8663c !important;">
        <mat-error *ngIf="form.controls['email']?.touched &&  form['controls']?.email.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['email']?.touched && form.controls['email'].errors?.pattern">
          Email is <strong>Invalid</strong>
        </mat-error>
      </div>
    </div>

    <div fxLayout="column" fxFlex="20" fxLayoutGap="10px" style="width: 100%; ">
      <span fxFlex="25">Password</span>
      <span fxFlex="75" style="position: relative">
        <input type="password" [type]="passView ? 'password' : 'text'" formControlName="password" inputStyle>
        <mat-icon matSuffix passwordIcon (click)="passView = !passView" pointer>{{passView ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </span>
      <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="start center"
        style="width: 100%; color: #c8663c !important;">
        <mat-error *ngIf="form.controls['password']?.touched &&  form['controls']?.password.errors?.required">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('password').errors?.pattern">
          Password should be of <b>8</b> characters <b>(at least one digit, one lower case, one upper case, one special
            character)</b>
        </mat-error>
      </div>
    </div>

    <div fxLayout="column" fxFlex="20" fxLayoutGap="10px" style="width: 100%; ">
      <span fxFlex="25">Confirm Password</span>
      <span fxFlex="75" style="position: relative">
        <input type="password" [type]="cPassView ? 'password' : 'text'" formControlName="confirm_password" inputStyle>
        <mat-icon matSuffix passwordIcon (click)="cPassView = !cPassView" pointer>{{cPassView ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </span>
      <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="start center"
        style="width: 100%; color: #c8663c !important;">
        <mat-error
          *ngIf="form.controls['confirm_password']?.touched &&  form['controls']?.confirm_password.errors?.required">
          Confirm Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.errors?.noMatch">
          Password and Confirm Password should be <strong>Same</strong>
        </mat-error>
      </div>
    </div>

    <div fxLayout="row" fxFlex="8" fxLayoutGap="10px" fxLayoutAlign="center center"
      style="width: 100%; color: #c8663c !important;">
      <!-- <mat-error *ngIf="form.controls['name']?.touched &&  form['controls']?.name.errors?.required">     
        Name is <strong>required</strong>
      </mat-error>
     
      <mat-error *ngIf="form.controls['email']?.touched &&  form['controls']?.email.errors?.required">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['password']?.touched &&  form['controls']?.password.errors?.required">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['confirm_password']?.touched &&  form['controls']?.confirm_password.errors?.required">
        Confirm Password is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="form.get('password').errors?.pattern">
        Password should be of <b>8</b> characters <b>(at least one digit, one lower case, one upper case, one special character)</b>
      </mat-error>

      <mat-error *ngIf="form.errors?.noMatch">
                Password and Confirm Password should be <strong>Same</strong>
              </mat-error> -->
      <mat-error *ngIf="!termCondition">Terms Condition required</mat-error>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" style="width: 88%">
      <button mat-button (click)="setFormSubmissionFlag(false)">Cancel</button>
      <button mat-raised-button [ngClass]="form.invalid || !termCondition ? 'logInBtn' : 'logedInBtn'"
        (click)="setFormSubmissionFlag(true)" [disabled]="form.invalid || !termCondition">Sign Up</button>
    </div>
  </form>
</div>