<div class="main-container">
    <div  class="waiting-room-container">
      <div style="width: 100%; display: flex; justify-content: center; padding-bottom: 32px;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <h2 style="color: black; text-align: center">Please wait in waiting room</h2>
      <p>Your request to join the meeting is sent successfully. Please wait for a while, you will enter the meeting room
        once moderator accept your request.</p>
    </div>
</div>
