.segment-chip {
  padding: 16px 24px !important;
  &.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #775FEE !important;
  }
  &.mat-chip.mat-standard-chip {
    background-color: transparent !important;
    border: 1px solid #775FEE;
    color: white;
  }
}

#badge {
  border: 2px solid #D69718;
  background-color: transparent;

}
::ng-deep.mat-dialog-container {
  padding: 20px !important;
  // background-color: pink !important;
}

@media only screen and (max-width: 1920px) { 
  #name{
    margin-top: 5%;
    // padding-right: 1%;
  }
}
@media only screen and (max-width: 1800px) { 
  #name{
    margin-top: 0;
  }
}